In [5]:
import requests as rq
import pandas as pd
import sqlite3

In [4]:
url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0232EN-SkillsNetwork/asset/classic_rock.db'
with open('classic_rock.db','wb') as f:
    re=rq.get(url)
    f.write(re.content)

In [7]:
path='data/classic_rock.db'
con=sqlite3.connect(path)

In [8]:
con

In [9]:
query = '''
SELECT * 
FROM rock_songs;
'''
df=pd.read_sql(query,con)
df.head(5)

                     Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13